.btn {
  display: block;
  border-radius: 50px;
  outline: none;
  text-align: center;

  &--size {
    width: 100%;
    max-width: 570px;
    padding: 15px 5px 17px 5px;
    font-size: 1.8rem;

    @media (min-width: $breakpoint-tablet) {
      padding: 26px 10px 28px 10px;
      font-size: 27px;
    }

    @media (min-width: $breakpoint-desktop) {
      max-width: none;
      width: auto;
      padding: 16px 10px 20px 10px;
      font-size: 1.8rem;
      letter-spacing: 0.3px;
    }
  }

  &--outline {
    width: 100%;
    padding: 22px 10px 28px 10px;
    font-size: 2.4rem;
    color: $text-light-color;
    border-color: $text-light-color;
    background-color: transparent;
    letter-spacing: 1.5px;

    @media (min-width: $breakpoint-tablet) {
      margin: 0 auto;
      width: 550px;
    }

    @media (min-width: $breakpoint-desktop) {
      margin: 0;
      width: 269px;
      padding: 18px 10px 22px 10px;
      font-size: 2.2rem;
    }
  }

  &--accent {
    border: 0;
    color: #ffffff;
    background-color: $primary-color;

    &:hover {
      background-color: #ee4261;
    }

    &:active {
      box-shadow: 0 1px 24px -13px rgba(#000000, 0.5) inset;
    }
  }
}
