.btn {
  display: block;
  border-radius: 50px;
  outline: none;
  text-align: center;

  &--size {
    width: 100%;
    max-width: 570px;
    padding: 15px 5px 17px 5px;
    font-size: 1.8rem;

    @media (min-width: $breakpoint-tablet) {
      padding: 26px 10px 28px 10px;
      font-size: 27px;
    }

    @media (min-width: $breakpoint-desktop) {
      max-width: none;
      width: auto;
      padding: 16px 10px 20px 10px;
      font-size: 1.8rem;
      letter-spacing: 0.3px;
    }
  }

  &--outline {
    width: 100%;
    padding: 22px 10px 28px 10px;
    font-size: 2.4rem;
    color: $text-light-color;
    border-color: $text-light-color;
    background-color: transparent;
    letter-spacing: 1.5px;

    @media (min-width: $breakpoint-tablet) {
      margin: 0 auto;
      width: 550px;
    }

    @media (min-width: $breakpoint-desktop) {
      margin: 0;
      width: 269px;
      padding: 18px 10px 22px 10px;
      font-size: 2.2rem;
    }
  }

  &--select {
    text-align: left;
    width: 100%;
    padding: 24px 10px 25px 30px;
    background-color: #ffffff;
    font-size: 2.7rem;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 28px top 50%, 0 0;
    background-size: 15px auto, 100%;
    cursor: pointer;

    @media (min-width: $breakpoint-tablet) {
      margin: 0 auto;
      width: 460px;
    }

    @media (min-width: $breakpoint-desktop) {
      margin: 0;
      width: 332px;
      padding: 14px 10px 16px 30px;
    }
  }

  &--accent {
    border: 0;
    color: #ffffff;
    background-color: $primary-color;

    &:hover {
      background-color: #ee4261;
    }

    &:active {
      box-shadow: 0 1px 24px -13px rgba(#000000, 0.5) inset;
    }
  }
}
