.delivery-pay {
  padding-top: 1px;

  @media (min-width: $breakpoint-desktop) {
    background: url('../img/rose.jpg') no-repeat;
    background-size: cover;
    background-position: 60% 0;
    height: $delivery-pay-desktop-height;
  }
}

.bg-delivery-pay-mobile {
  position: relative;
  background: url('../img/rose.jpg') no-repeat;
  background-size: cover;
  background-position: 94% 0;
  height: 956px;

  &::before {
    content: '';
    position: absolute;
    top: 880px;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, #ffffff, rgba(255, 255, 255, 0));
  }

  @media (min-width: $breakpoint-desktop) {
    display: none;
  }
}

.delivery-pay__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  min-height: $delivery-pay-mobile-height;

  @media (min-width: $breakpoint-desktop) {
    margin-top: 40px;
    min-height: $delivery-pay-desktop-height;
    justify-content: center;
    align-items: flex-start;
  }

  li {
    margin-left: 40px;
    margin-bottom: 14px;
    line-height: 1.1;
    font-size: 3.5rem;
    color: $primary-color;

    @media (min-width: $breakpoint-tablet) {
      margin-left: 0;
    }

    @media (min-width: $breakpoint-desktop) {
      margin-left: 0;
      font-size: 2.5rem;
      margin-bottom: 10px;
      line-height: 1.16;
    }
  }

  span {
    padding-left: 4px;
    font-size: 2.4rem;
    color: $text-dark-color;

    @media (min-width: $breakpoint-desktop) {
      font-size: 1.6rem;
    }
  }
}

.content__info {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-desktop) {
    flex-direction: row;
  }
}

.info__delivery {
  margin-top: 45px;

  @media (min-width: $breakpoint-desktop) {
    margin-top: 7px;
  }
}

.delivery__title {
  display: block;
  text-align: center;
  font-size: 3.8rem;
  font-weight: bold;

  @media (min-width: $breakpoint-desktop) {
    text-align: left;
    margin-left: 4px;
  }
}

.delivery__options {
  margin-top: 50px;

  @media (min-width: $breakpoint-desktop) {
    margin-top: 45px;
  }
}

.info__pay {
  margin-top: 85px;

  @media (min-width: $breakpoint-desktop) {
    margin-top: 7px;
    margin-left: 68px;
  }
}

.pay__title {
  display: block;
  text-align: center;
  font-size: 3.8rem;
  font-weight: bold;

  @media (min-width: $breakpoint-desktop) {
    text-align: left;
  }
}

.pay__options {
  margin-top: 56px;

  @media (min-width: $breakpoint-desktop) {
    margin-top: 43px;
  }
}

.pay__note {
  margin-top: 26px;
  font-size: 2.6rem;
  line-height: 1.35;
  font-weight: normal;
  color: $text-accent-color;

  @media (min-width: $breakpoint-desktop) {
    margin-top: 49px;
    font-size: 2.2rem;
    line-height: 1.55;
  }
}

.pay__note--only-mobile {
  @media (min-width: $breakpoint-desktop) {
    display: none;
  }
}

.pay__note--only-desktop {
  display: none;

  @media (min-width: $breakpoint-desktop) {
    display: inline;
  }
}

.delivery-pay__create-order {
  margin-top: 70px;

  @media (min-width: $breakpoint-desktop) {
    display: block;
    margin: 95px auto 0 auto;
    width: 356px;
    line-height: 1.5;
  }
}
