.feature {
  min-height: $feature-mobile-height;

  @media (min-width: $breakpoint-desktop) {
    min-height: $feature-desktop-height;
  }
}

.feature__title {
  text-align: center;
  margin-top: 103px;

  @media (min-width: $breakpoint-desktop) {
    margin-top: 153px;
  }
}

.feature__block {
  display: flex;
  flex-flow: column wrap;
  margin-top: 80px;

  @media (min-width: $breakpoint-desktop) {
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 140px;
  }
}

.feature__feat {
  text-align: center;
  margin-top: 82px;

  &:first-of-type {
    margin: 0;
  }

  @media (min-width: $breakpoint-desktop) {
    margin: 0;
  }
}

.feat__icon {
  height: 90px;
  width: 120px;
  margin-bottom: 21px;
  fill: $primary-color;
}

.feat__pic {
  width: auto;
  height: 105px;
}
