.feature {
  min-height: $feature-mobile-height;
}

.feature__title {
  margin-top: 103px;
  text-align: center;
}

.feature__block {
  display: flex;
  flex-flow: column wrap;
  margin-top: 80px;
}

.feature__feat {

  &:first-of-type {
    margin: 0;
  }

  margin-top: 82px;
  text-align: center;
}

.feat__icon {
  height: 90px;
  width: 120px;
  margin-bottom: 21px;
  fill: $primary-color;
}

.feat__pic {
  width: auto;
  height: 105px;
}

@media (min-width: $breakpoint-desktop) {

  .feature {
    min-height: $feature-desktop-height;
  }

  .feature__title {
    margin-top: 153px;
  }

  .feature__block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 140px;
  }

  .feature__feat {
    margin: 0;
  }
}
