.map {
  height: $map-mobile-height;

  @media (min-width: $breakpoint-desktop) {
    height: $map-desktop-height;
  }

  .ymaps-2-1-74-zoom {
    display: none;
  }

  .ymaps-2-1-74-controls__control {
    display: none;
  }

  .ymaps-2-1-74-controls__control_toolbar {
    display: none;
  }
}
