.offer {
  text-align: center;
  min-height: $offer-mobile-height;
  border-top: 1px solid transparent;

  @media (min-width: $breakpoint-tablet) {
    min-height: $offer-tablet-height;
  }

  @media (min-width: $breakpoint-desktop) {
    text-align: left;
    min-height: $offer-desktop-height;
    background: url('img/bg-flask.jpg') 49.6% 13.6% / cover no-repeat;
  }
}

.offer__number {
  display: inline-block;
  text-align: center;
  margin-top: 29px;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: $primary-color;
  background: linear-gradient($primary-color, $primary-color) 100% 97% / 100% 2px no-repeat;

  @media (min-width: $breakpoint-tablet) {
    font-size: 4.6rem;
  }

  @media (min-width: $breakpoint-desktop) {
    display: none;
  }
}

.offer__title {
  margin-top: 4.6rem;

  @media (min-width: $breakpoint-desktop) {
    text-align: left;
    margin-top: 126px;
  }
}

.offer__subtitle {
  display: none;

  @media (min-width: $breakpoint-desktop) {
    display: block;
    margin-top: 35px;
  }
}

.get-catalog {
  display: flex;
  flex-flow: nowrap column;
  margin-top: 193px;

  @media (min-width: $breakpoint-desktop) {
    flex-flow: nowrap row;
    margin-top: 81px;
  }
}

.get-catalog__name {
  margin: 0 auto;
  opacity: 0;

  @media (min-width: $breakpoint-desktop) {
    width: 239px;
    margin: 0;
    opacity: 1;
  }
}

.get-catalog__email {
  margin: 20px auto 0 auto;
  opacity: 0;

  @media (min-width: $breakpoint-desktop) {
    width: 369px;
    margin: 0 0 0 19px;
    opacity: 1;
  }
}

.get-catalog__btn {
  margin: 20px auto 0 auto;

  @media (min-width: $breakpoint-desktop) {
    min-width: 348px;
    margin: 0 0 0 19px;
    font-size: 1.8rem;
  }
}
