.order {
  background: url('../img/order-form-bg.jpg') 50% 50% / cover no-repeat;
}

.order__form {
  padding-top: 1px;
  min-height: $order-form-mobile-height;

  @media (min-width: $breakpoint-desktop) {
    min-height: $order-form-desktop-height;
  }
}

.form__description {
  text-align: center;
  margin-top: 112px;

  @media (min-width: $breakpoint-desktop) {
    margin-top: 123px;
  }
}

.description__title {
  display: block;
  font-size: 2.4rem;
  font-weight: normal;
  color: $text-on-s;
  letter-spacing: 0.5px;
}

.description__notice {
  display: block;
  margin-top: 47px;
  font-size: 3.6rem;
  font-weight: bold;
  color: $text-light-color;
  letter-spacing: 1px;
  line-height: 1.32;

  @media (min-width: $breakpoint-desktop) {
    margin-top: 50px;
  }
}

.form__container {
  @media (min-width: $breakpoint-desktop) {
    display: flex;
    flex-direction: row;
  }
}
