.form__result {
  position: relative;
  width: 95%;
  min-height: $order-result-mobile-height;
  margin: 70px auto 0 auto;
  border-radius: 10px;
  background-color: $text-light-color;
  padding-top: 1px;


  &::after {
    content: '';
    position: absolute;
    top: -13px;
    right: 50%;
    margin-left: -5px;
    border-top: 0;
    border-right: 10px solid transparent;
    border-bottom: 13px solid #ffffff;
    border-left: 10px solid transparent;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 100%;
    margin: 58px auto 0 auto;
    min-height: $order-result-desktop-height;
  }
}

.result__title {
  display: block;
  text-align: center;
  margin-top: 44px;
  font-size: 2.5rem;
  font-weight: bold;
}

.result__separator {
  display: none;

  @media (min-width: $breakpoint-desktop) {
    display: block;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 19px;
    font-size: 1.9rem;
    font-weight: bold;
  }
}

.result__order-roses {
  margin: 0 15px;

  @media (min-width: $breakpoint-desktop) {
    margin: 19px 24px 0 24px;
  }
}

.order-roses__order-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 18px;
  padding: 10px 30px 14px 16px;
  border-radius: 3px;
  background-color: $highlight-color;

  @media (min-width: $breakpoint-desktop) {
    margin-top: 10px;
    padding: 15px 18px 17px 16px;
  }
}

.order-item--only-mobile {
  @media (min-width: $breakpoint-desktop) {
    display: none;
  }
}

.order-item__left {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.order-item__icon {
  display: block;
  width: 33px;
  height: 33px;
  margin-right: 7px;
  margin-top: 5px;

  @media (min-width: $breakpoint-desktop) {
    width: 20px;
    height: 20px;
  }
}

.order-item__name {
  margin-left: 7px;
  font-size: 2.1rem;
  line-height: 1.55;

  @media (min-width: $breakpoint-desktop) {
    font-size: 1.7rem;
    line-height: 1.2;
  }
}

.order-item__delete {
  height: 35px;
  width: auto;
  opacity: 0.4;
  cursor: pointer;

  @media (min-width: $breakpoint-desktop) {
    height: 20px;
    width: auto;
  }
}

.result__total {
  margin-top: 34px;

  @media (min-width: $breakpoint-desktop) {
    margin-top: 47px;
  }
}

.total__price {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: bold;

  @media (min-width: $breakpoint-desktop) {
    font-size: 1.9rem;
  }
}

.total__price--only-mobile {
  @media (min-width: $breakpoint-desktop) {
    display: none;
  }
}

.total__actions {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  padding: 0 5px 10px 5px;

  @media (min-width: $breakpoint-desktop) {
    flex-direction: row;
    justify-content: center;
    margin-top: 38px;
  }
}

.total__btn-submit-order {
  margin: 0 auto 16px auto;

  @media (min-width: $breakpoint-desktop) {
    margin: 0;
    width: 338px;
  }
}

.total__btn-continue-shop {
  margin: 0 auto;
  letter-spacing: normal;

  @media (min-width: $breakpoint-desktop) {
    margin: 0 0 0 25px;
    width: 338px;
  }
}
