.order {
  background: url('img/order-form-bg.jpg') 50% 50% / cover no-repeat;
}

.order__form {
  padding-top: 1px;
  padding-bottom: 155px;
  min-height: $order-form-mobile-height;

  @media (min-width: $breakpoint-desktop) {
    min-height: $order-form-desktop-height;
  }
}

.form__description {
  text-align: center;
  margin-top: 116px;

  @media (min-width: $breakpoint-desktop) {
    margin-top: 123px;
  }
}

.description__title {
  display: block;
  font-size: 2.4rem;
  font-weight: normal;
  color: $text-on-s;
  letter-spacing: 0.8px;
}

.description__notice {
  display: block;
  margin-top: 42px;
  font-size: 3.6rem;
  font-weight: bold;
  color: $text-light-color;
  letter-spacing: 1px;
  line-height: 1.5;

  &--only-desktop {
    display: none;
  }

  @media (min-width: $breakpoint-desktop) {
    margin-top: 43px;

    &--only-mobile {
      display: none;
    }

    &--only-desktop {
      display: inline;
    }
  }
}

.form__container {
  @media (min-width: $breakpoint-desktop) {
    display: flex;
    flex-direction: row;
  }
}
