html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
}

::selection {
  color: $text-light-color;
  background: $text-accent-color;
}

.noselect {
  user-select: none;
}

.wrapper {
  width: 100%;
  padding: 0 10px;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-flow: inherit;


  @media (min-width: $breakpoint-desktop) {
    padding: 0 35px;
  }

  @media (min-width: $breakpoint-desktop) {
    max-width: $wrapper-width-desktop;
    margin: 0 auto;
    width: 100%;
  }
}

.bg-flask-mobile {
  position: relative;
}

.bg-flask-mobile::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/bg-flask.jpg');
  background-repeat: no-repeat;
  background-position: 59.8% 3.9%;
  background-size: auto 315%;
  z-index: -1;
  opacity: 0.73;

  @media (min-width: $breakpoint-desktop) {
    background: none;
  }
}
