// FONTS
$font-main-name: 'Montserrat';

// COLORS
$primary-color: #d93c58;
$secondary-color: #353c5d;

$text-on-s: #b7bbd3;
$text-accent-color: #d93c58;
$text-light-color: #fafafa;
$text-dark-color: #303030;

// HEIGHT SECTIONS
$header-height: 115px;

$offer-mobile-height: 665px;
$offer-tablet-height: 922px;
$offer-desktop-height: 743px;

$feature-mobile-height: 1455px;
$feature-desktop-height: 564px;

$order-form-mobile-height : 2030px;
$order-result-mobile-height: 880px;
$order-form-desktop-height : 1170px;
$order-result-desktop-height: 785px;

// WRAPPERS
$wrapper-width-desktop: 1245px;

// BREAKPOINTS
$breakpoint-tablet: 530px;
$breakpoint-desktop: 994px;
