// FONTS
$font-main-name: 'Montserrat';

// COLORS
$primary-color: #d93c58;
$secondary-color: #353c5d;

$text-on-s: #b7bbd3;
$text-accent-color: #d93c58;
$text-light-color: #fafafa;
$text-dark-color: #303030;
